  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body {
    background: url("../images/cactus.JPG");
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-left: 10px solid royalblue;
    border-right: 10px solid royalblue;  
  }

  header {
    padding: 20px 35px;
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
    font-weight: bold;
    font-size: 45px;
    color: white;
    margin: 0;
    display: inline;
  }

  header nav {
    margin: 7px 0;
  }

  nav ul {
    display:flex;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  .conner {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .conner h2 {
    font-size: 30px;
    color: red;
  }
  
  #About-Me img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    height: 250px;
  }

  main {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 4px solid gray;
  }

  .section-title {
    font-size: 55px;
    color: blue;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px double;
    text-align: center;
  }

  #About-Me p {
    display: inline-block;
    color: red;
    font-size: 25px;
    font-weight: bolder;
    width : 75%;
    margin: 25px;
  }
  
    #About-Me p:hover {
      color: royalblue;
      text-transform: capitalize;
    }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .flex-item1 {
    width: 91%;
    border-radius: 14px;
    border: 4px solid royalblue;
    background-color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('../images/image-1.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin: 55px;
  }

  .flex-item2 {
    width: 45%;
    border-radius: 14px;
    border: 4px solid royalblue;
    background-color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('../images/project1.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    }

  .flex-item3 {
    width: 45%;
    border-radius: 14px;
    border: 4px solid royalblue;
    background-color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('../images/image-3.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
  }

  .flex-item4 {
    width: 45%;
    border-radius: 14px;
    border: 4px solid royalblue;
    background-color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('../images/image-4.PNG');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
  }

  .flex-item5 {
    width: 45%;
    border-radius: 14px;
    border: 4px solid royalblue;
    background-color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('../images/image-5.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
  } 

  .flex-item1 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }

  .flex-item2 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }

  .flex-item3 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }

  .flex-item4 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }

  .flex-item5 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }  
  
  .flex-item3 {
    width: 45%;
    border-radius: 14px;
    border: 4px solid royalblue;
    background-color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('../images/image-3.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
  }

  .flex-item4 {
    width: 45%;
    border-radius: 14px;
    border: 4px solid royalblue;
    background-color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('../images/image-4.PNG');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
   }

  .flex-item5 {
    width: 45%;
    border-radius: 14px;
    border: 4px solid royalblue;
    background-color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('../images/image-5.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
  }

  .flex-item1 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }

  .flex-item2 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }

  .flex-item3 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }

  .flex-item4 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }

  .flex-item5 span {
    margin-top: auto;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    text-align: center;
  }  

  #My-Work {
    margin: auto;
  }

  #My-Work img {
    margin: 2px;
    border: 4px solid red;
    display: inline-block;
  }


  

  li:hover {
    text-rendering: optimizeSpeed;
    size: 100px;
    font-weight: 800;
  }

footer {
  padding: 20px 35px;
  background-color: royalblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  font-weight: bold;
  font-size: 45px;
  color: white;
  margin: 0;
  display: inline;
}

footer a {
  text-decoration: none;
  color: white;
}

footer nav {
  margin: 7px 0;
}

footer nav ul li {
  display: inline;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

.flex-row {
display: flex;
}
  
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  section {
    padding: 30px 15px;
  }

  #About-Me h2 {
    flex: 1 100%;
    text-align: center;
  }

  .section-title {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .flex-container {
    flex: 100%;  
  }
}

@media screen and (max-width: 575px) {

  .contact {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  #About-Me {
    width: 50%;
  }

  .flex-row {
    flex: 0 100%;
  }

  .Contact-Me {
    text-align: center;
  }

  .Contact-Me > * {
    flex: 0 100%;
  }
}

